<h1>Confirmez votre compte</h1>
<div>
    <p>
        Bienvenue sur le site de l'Assurance Automobile Aixoise,

        Pour valider votre adresse email, veuillez cliquer sur le lien ci dessous
        ou copier/coller dans votre navigateur internet.
    </p>
    <a href="http://$serverName/inscription/$validationCode">Clicker pour valider</a>
    <p>
        ---------------
        Ceci est un mail automatique, merci de ne pas y répondre.
    </p>
</div>