#**
 * msg
 *
 * Shorthand macro to retrieve locale sensitive messageCode from language.properties
 *#
#macro(msg $key)
    $messages.getMessage($key,$NULL,$locale)
#end

#macro(msgArgs $key, $args)
    $messages.getMessage($key,$args.toArray(),$locale)
#end